@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   background-color: #f5f5f9;
}
.container{
    width: 80%;
    margin: 2% auto;
    display: flex;
    height: 650px;
    box-shadow: 0px 12px 18px rgba(54, 176, 138, 0.005);
    border-radius: 6px;
    background: #fff;

}
.login-link{
    background-color: #696cff;
    background-image: url('bg-shapes.svg');
    
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 30%;
    padding: 3%;

}
.signup-form-container{
    width: 70%;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    color: #fff;
    font-weight: 600;
}
.side-big-heading{
    font-weight: 800;
    color: #fff;
    font-size: 1.7rem ;
    margin: 46% 0 5%;
}
.primary-bg-text{
    color: #eff0ff;
    text-align: center;
    font-weight: 500;
}
a.loginbtn{
    text-decoration: none;
    color: #fff;
    width: 70%;
    font-weight: 500;
    display: inline-block;
    margin: 7% 15%;
    text-align: center;
    border: 2px solid #eff0ff;
    border-radius: 24px;
    padding: 3% 0;
}
a.loginbtn:hover{
    color: #696cff;
    background-color: #fff;
}
.big-heading{
    font-weight: 900;
    font-size: 2rem;
    color: #696cff;
}
.social-media-plateform{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-plateform a{
    color: #1a1d86;
    text-decoration: none;
    border-radius: 50%;
    display: inline-flex;
    border: 1px solid #e0e3e2; 
    margin: 4% 8%;
    padding: 2%;
    font-size: 1.8rem;
}
.progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
    width: 70%;
}
.progress-bar .stage{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progress-bar .tool-tip{
    color:#1a1d86;
    font-weight: 600;
}
.stageno{
    margin:  6% 0;
    padding: 2% 7%;
    border-radius: 50%;
    background-color:#f5f5f9 ;
}
.button-container{
    display: flex;
    align-items: center;
    margin: 4% 0;
}
.text-fields{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin: 0 2%;
    padding: 2%;
    width: 46%;
    border-radius:4px;
    color: #84848d;
}
input{
    border:none;
    outline: none;
    background: inherit;
    color: #84848d;
    width: 200%;
    margin-left: 4%;
    font-size: 1rem;
}
.signup-form-content{
    width: 100%;
    padding: 0 3%;
}
.text-fields.name::after{
    content: 'Name';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -210px;
    width: 234px;
    color: #696cff;
    top: -33px;
}
.text-fields.sur-name::after{
    content: 'Sur-Name';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -195px;
    width: 334px;
    color: #696cff;
    top: -33px;
}
.text-fields.email::after{
    content: 'Email';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -210px;
    width: 234px;
    color: #696cff;
    top: -33px;
}
.text-fields.password::after{
    content: 'Password';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -210px;
    width: 234px;
    color: #696cff;
    top: -33px;
}
.text-fields.conf-password::after{
    content: 'Confirm Password';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -120px;
    width: 934px;
    color: #696cff;
    top: -33px;
}
.text-fields.taxReg::after{
    content: 'Tax Regime';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -210px;
    width: 334px;
    color: #696cff;
    top: -33px;
}
.text-fields.vatNum::after{
    content: 'Vat Number';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -195px;
    width: 404px;
    color: #696cff;
    top: -33px;
}
.text-fields.fiscal_code::after{
    content: 'Fiscal code';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -210px;
    width: 334px;
    color: #696cff;
    top: -33px;
}
.text-fields.pecMail::after{
    content: 'Pec Mail';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -227px;
    width: 234px;
    color: #696cff;
    top: -33px;
}
.text-fields.companyName::after{
    content: 'Company Name';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -168px;
    width: 634px;
    color: #696cff;
    top: -33px;
}
.text-fields.PhoneNum::after{
    content: 'Phone Number';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -168px;
    width: 634px;
    color: #696cff;
    top: -33px;
}
.text-fields.Province::after{
    content: 'Province';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -227px;
    width: 234px;
    color: #696cff;
    top: -33px;
}
.text-fields.city::after{
    content: 'City';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -245px;
    width: 134px;
    color: #696cff;
    top: -33px;
}
.text-fields.postal_code::after{
    content: 'Postal Code';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -168px;
    width: 634px;
    color: #696cff;
    top: -33px;
}
.text-fields.address::after{
    content: 'Address';
    background-color: #fff;
    position: relative;
    padding: 0 4%;
    left: -227px;
    width: 234px;
    color: #696cff;
    top: -33px;
}
.pagination-btns{
    display: flex;
    justify-content: center;
    margin: 3% 0;
    padding: 0 4%;
}
.nextPage, .previousPage{
    background-color: #8789ff;
    color:#fff;
    width: 45%;
    cursor: pointer;
    padding: 2%;
    font-weight: 500;
    font-size: 1rem;
    border-radius:4px ;
    border: none;
    outline: none;
   
}
.nextPage:hover, .previousPage:hover{
    background-color: #696cff;
}
.tc-container input{
    width: 4%;
    margin-left: 4%;
    accent-color: #696cff;
}
.tc a{
    text-decoration: none;
    color: #696cff;
}
label.tc{
    margin-left: 4%;
}
.login-btn-content{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-btn-content .text-fields{
    margin: 3% 3%;
    width: 75%;
    padding: 3%;
}

.loginsub{
margin-top: 3%;
}
.social-media-plateform{
    margin: 1% 0 0 0;
}


